<nav class="navbar navbar-default">
  <div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<br><img src="image.gif" style="float: left;" />
		<div style ="font-size: large;color: #333300; width:100%;text-align: center;">
			<h2>SUPERIOR CONSTRUCTION SYSTEM</h2>
			<br>
   		</div>
 	</div>
 
	<!DOCTYPE html>
	<html>
		<head>
  			<style>
			  html, body {
		      width: 72%;
		      height: 100%;
		      margin: auto;
		      padding: 0;
		      background-color: #999966;
		    	}

			    h1 {
			      margin: 0;
			      padding: 0;
			    }

			    ul {
			      list-style-type: none;
			      margin: auto;
			      padding: 0;
			      overflow: hidden;
			      background-color: #339933;
			    }
			    
			    li {
			      float: left;
			    }
			
			    li a {
			      display: block;
			      color: white;
			      text-align: center;
			      padding: 14px 16px;
			      text-decoration: none;
			    }
			
			    li a:hover {
			      background-color: #339933;
			    }
  			</style>
  		</head>
  
  	<div class="menu navbar-menu">
		<ul class="nav navbar-nav">
			<b><li> <a class="caret" target="frame" href="Home_Content.txt">HOME</a></li>
			<li><a target="frame" href="test.txt">ABOUT US</a></li>
			<li><a target="frame" href="project_menu.html.erb";>PROJECT</a></li>
			<li><a target="frame" href="materials_menu.html.erb";>MATERIALS</a></li>
			<!--<li><a href="#project">PROJECT</a></li>-->
			<!--<li><a href="#materials">MATERIALS</a></li>-->
			<li><a target="frame" href="worker_menu.html.erb";>WORKERS</a></li>
			<!--<li><a href="#workers">WORKERS</a></li>-->
			<!--<li><a href="#contact us">CONTACT US</a></li>-->
			<li style="float:right"><a target="frame" href="contuctus.html";>CONTACT US</a></li>
		</ul>
	 </div>
	<iframe name="frame" id="uploads" style="background-color: #cccc99;"  height="450" width="704"></iframe>

 </div>
