<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <!--<body background= href="image.gif"></body>-->
    <br><img src="/assets/image.gif" style="float: left;" />
    <!---<img background= href=/assets/image.gif style="float: left;" />-->
    <div style ="font-size: large;color: #333300; width:100%;text-align: center;">
        <br>
        <h2>CONSTRUCTION MANAGEMENT SYSTEM</h2>
    </div>
  </div>
</header>

<!DOCTYPE html>
<html>
<head>
  <style>
    html, body {
      width: 72%;
      height: 100%;
      margin: auto;
      padding: 0;
      background-color: #999966;
    }

    h1 {
      margin: 0;
      padding: 0;
    }

    ul {
      list-style-type: none;
      margin: auto;
      padding: 0;
      overflow: hidden;
      background-color: #339933;
    }
    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #339933;
    }
  </style>

</head>
  <body>
    <ul>
      <li><a class="active" href="http://www.google.com">ABOUT US</a></li>
      <li><a href="javascript:void(0);" onclick="fn_home()";>HOME</a></li>
      <li><a href="javascript:void(0);" onclick="fn_Project()";>PROJECT</a></li>
      <!--<li><a href="javascript:void(0);" onclick="location.href =say1.html.erb";>MATERIALS</a></li>-->
      <li><a href="javascript:void(0);" onclick="location.src='/assets/image.gif'">MATERIALS</a></li>
      <!--<li><a href="#project">PROJECT</a></li>-->
      <!--<li><a href="#materials">MATERIALS</a></li>-->
      <li><a href="#workers">WORKERS</a></li>
      <!--<li><a href="#contact us">CONTACT US</a></li>-->
      <li style="float:right"><a href="#contactus">CONTACT US</a></li>
      <!--<form name="myForm" action="demo_form.asp" onsubmit="return myFunction()" method="post">
        Name: <input type="text" name="fname">
        <input type="submit" value="Submit">
      </form>-->
    </ul>
  </body>
</html>


