<!DOCTYPE html>
<html>
<!DOCTYPE html>
	<html>
		<head>
  			<style>
			  html, body {
		      width: 85%;
		      height: 100%;
		      margin: left;
		      padding: 1;
		      background-color: #999966;
		    	}

			    h1 {
			      margin: 0;
			      padding: 0;
			    }

			    ul {
			      list-style-type: none;
			      margin: auto;
			      padding: 0;
			      overflow: hidden;
			      background-color: #6e98a3;
			    }
			    
			    li {
			      float: left;
			    }
			
			    li a {
			      display: block;
			      color: white;
			      text-align: center;
			      padding: 8px 8px;
			      text-decoration: none;
			      color: black;
			    }
			
			    li a:hover {
			      background-color: #70668e;
			    }
			
  			</style>
  		</head>
  
  
	<div class="menu navbar-menu">
		<ul class="nav navbar-nav">
			<b><li><a target="frame1" href="worker_addnew.html";>ADD NEW WORKER</a></li>
			<li><a target="frame1" href="worker_viewmodify.html";>VIEW/MODIFY WORKER</a></li></b>
		</ul>
	</div>
	
	<iframe name="frame1" id="uploads" style="background-color: #cccc99;"  height="390" width="670"></iframe>
	
</html>