<!DOCTYPE html>
<html>
<head>
</head>
<body>
<form>
  <form>
  <h3 style="color:blue;font-family:courier;text-align:center;">NEW WORKER</h3>
  <b>Worker Name:*</b><br>
  <input type="text" name="workername"><br>
  <b>Worker ID:*</b><br>
  <input type="text" name="workerid"><br>
	<b>Role:</b><br>
	<input type="text" name="role"><br>
	<b>Expertise Level:</b><br>
	<input type="text" name="expertiselevel"><br>
	<br>
  <input type="submit" style="width:100px; height:50px; background-color: #555555; font-size: 16px;" value="Add">
</form>

</form>
</body>
</html>